.Parent {
  width: 100%; 
  height: 78px;
  background-color: rgb(38, 38, 38 , 1) ; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
}
.Child-Parent {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 80px ;
}
.group {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 10px;  
}

.Icon {
  width: 20px; 
  height: 12px;
  
}
.mr-10 {
  width: 40%;
  display: flex ;
  justify-content: center;
  gap: 20px;
}
.cosmetic {
width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-customize {
  width: 63px;
  height: 62px;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;

}
.content h1 {
  margin-left: 20px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0px;

}
.content p {
  font-weight: 400;
  color:rgba(196, 196, 196, 1);
  font-size: 12px;
    margin-left: 20px;

;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.Line {
  height: 70px;
  
  background-color: rgb(123, 123, 123 , 1);
  width: 2px;
}
.circle {
  width: 60px;
  height: 23px;
  border-radius: 30px;
  background-color: rgb(61,196 , 126 , 1 );
  margin-left: 8px;
}